@keyframes animation-red {
  0% {
    background-color: red;
    opacity: 0.1;
  }
  50% {
    background-color: red;
    opacity: 0.5;
  }
  100% {
    background-color: red;
    opacity: 1;
  }
}

.neon-light {
  animation: ease-in-out infinite;
}
